<h3>我支持的项目</h3>
<div class="panel-group" id="accordion1" role="tablist" aria-multiselectable="true">
  <%= render partial: "order_item", collection: @orders, as: "item" %>
</div>


  <%# @orders.each_with_index do |order, index| %>

  <%# end %>
