
<h2>我支持的项目</h2>

<div class="panel-group" id="accordion1" role="tablist" aria-multiselectable="true">
  <%= render(partial: "order_item", collection: @orders, as: "item") || render_order_empty_warning %>
</div>

<% if @orders.size > 0 %>
  <div class='empty-pading-bottom'>
    点击项目名称展开查看详情
  </div>
<% end %>


  <%# @orders.each_with_index do |order, index| %>

  <%# end %>
