<div class="account-project-index">
  <% @projects.each do |project| %>
    <div class="project-box">
      <div class="project-title">
        <%= project.name %>
      </div>
      <div class="project-info">
        <div class="project-image">
          <%= project.image.small %>
        </div>
        <div class="project-detail">
          <%= project.fund_goal %>
        </div>
      </div>
      <div class="project-oprate">
        edit<%#= link_to("EDIT", edit_account_project_path) %>
      </div>
    </div>
  <% end %>
</div>
