<div class="row">
  <div class="col-md-4 col-md-offset-4">
      <i class="fa fa-dot-circle-o fa-4x project-circle" aria-hidden="true"></i>
      <span style="border: 1px solid black; width:100px"></span>
      <i class="fa fa-check-circle fa-4x project-circle" aria-hidden="true"></i>
  </div>
</div>
<div class="row">
  <div class="col-md-4 col-md-offset-4 well project-well">
    <h1>项目信息</h1>
    <%= render "form" %>
  </div>
</div>
