

<p>企业名称：北京火箭科技有限公司</p><br/>
<p>核心成员：李笑来、Xdite等</p><br/>
<p>成立时间：2016年9月</p><br/>
<p>创办地点：北京</p><br/>
<p>项目用途：众筹平台</p><br/>
<h3 class="aboutus-article-head">关于火箭网</h3>
<br />
<p>火箭网是中国专业的一站式综合众筹融资服务平台，是比特基金旗下的众筹模式网站，为大众提供筹资、投资、孵化、运营一站式综合众筹服务。我们支持一切好玩有趣的个性创意和故事，电影、音乐、公益、旅行、艺术、非遗、科研……只要他们都是有趣的、有意义的，你都可以发起哟。在过去的一年里，我们为将近1万个故事筹款超过1亿元。只为梦想，改变一切不可能！<br />
<br />
</p>
<h3 class="aboutus-article-head">奖励众筹规则</h3>
<br />
<p><b>发起</b>——由于操作流程复杂，暂只可在PC电脑端发起的众筹，必须通过人工审核才可上线，并在火箭网平台公开展示。<br />
<b>筹资</b>——项目经审核成功上线后方可开始筹资，筹资项目必须在发起人预设的时间内达到或超过目标金额才算成功。<br />
<b>项目失败</b>——在预设的筹资时间内没有达到目标筹资额的项目，支持款项将全额退回给所有支持者。<br />
<b>成功结束</b>——支持者将得到发起人预先承诺的回报。发起人在项目成功结束后方可申请首款。<br />
<b>款项结算</b>——预先扣除掉平台服务费后按7:3分两次进行，项目成功结束后在个人中心申请。</p>
<p><br />
</p>
