
        <p>
            火箭网（网址:<a href="http://talent-rocket.herokuapp.com" target="_blank">http://talent-rocket.herokuapp.com</a>）是北京火箭科技有限公司旗下经营的网站。本协议双方为北京火箭科技有限公司（简称“火箭网”）与火箭网项目发起人（简称“您”或“用户”）。在您使用火箭网提供的服务之前，请务必认真阅读本协议的全部内容。本协议一经您点击确认并同意接受，即在您与火箭网之间产生法律效力。</p>
        <h3 class="aboutus-article-head">一、 定义</h3>
        <p>1、项目发起人：在火箭网平台注册并发起众筹项目的单位或个人；<br/>
            2、项目投资人：在火箭网平台注册并投资某众筹项目的单位或个人。<br/>
            3、保证金：项目发起人在火箭网平台发起的项目，由火箭网作为代收款方，收取项目投资人基于项目投资明细单而支付的众筹金额。项目众筹成功后，火箭网留存项目众筹总金额的30%作为保证金，在项目发起人兑现对项目投资人的回报承诺后，火箭网将该保证金返还给项目发起人。如果项目发起人未兑现对项目投资人的回报承诺，则火箭网有权直接支配该保证金以用于兑现对项目投资人的回报承诺。<br/>
            4、<b>资金支付渠道费：为保证众筹资金安全，众筹项目项下资金均通过第三方支付公司代为划转，由此产生的支付渠道费由项目发起人负担，项目众筹成功后，火箭网将扣除项目众筹总金额的3%作为资金支付渠道费，并支付给第三方支付机构。如众筹项目不成功，则不收取该笔费用。另，如众筹项目已众筹成功，但由于发起人原因无法履行回报的，发起人需向火箭网支付相当于筹资总金额的3%的资金支付手续费。</b>
        </p>
        <h3 class="aboutus-article-head">二、本协议的构成及效力</h3>
        <p>1、所有火箭网已经发布的或将来发布的各类规则，作为本协议不可分割的一部分，与本协议具有同等的法律效力。<br/>
            2、火箭网有权根据需要适时修订本协议及各类规则，并在网站上公示。变更后的协议和规则一经在火箭网站上公示，即发生法律效力。<br/>
            3、在使用火箭网提供的服务之前，请务必认真阅读本协议的全部内容。如您对本协议有任何疑问，应向火箭网咨询。本协议生效后，您不应以未阅读或不接受本协议的内容为由，主张本协议无效或要求撤销本协议。<br/>
            4、您应该按照本协议约定行使权利并履行义务。如您不能接受本协议的约定，包括但不限于不能接受修订后的协议及各类规则，则您应立即停止使用火箭网针对项目发起人提供的服务。如您继续使用火箭网针对项目发起人提供的服务，则表示您同意并接受本协议及各类规则的约束。</p>
        <h3 class="aboutus-article-head">三、项目发起人的资格</h3>
        <p>1、作为项目发起人，您应为火箭网的注册用户，完全理解并接受本协议。<br/>
            2、作为项目发起人的单位应为依法成立并登记备案的企业法人或其他组织；作为项目发起人的个人，应为年满18周岁并具有完全民事行为能力和民事权利能力的自然人，如项目发起人未满18周岁，应由其监护人代为履行本协议权利和义务。<br/>
            3、您应按照火箭网的要求，进行必要的身份认证和资质认证，包括但不限于身份证、护照、学历证明等的认证。<br/>
            4、您应拥有在中国大陆地区开户并接收人民币汇款的银行卡或支付宝账户。<br/>
            5、您应妥善保管在火箭网的用户名和密码，凡使用您的用户名和密码登陆火箭网进行的一切操作，均视为您本人的行为，一切责任由您本人承担。</p>
        <h3 class="aboutus-article-head">四、您发起的众筹项目应符合以下要求</h3>
        <p>1、您在火箭网上发起的项目，应明确具体的开始时间和结束时间。截止项目结束时间，如项目众筹金额低于预定众筹金额，则项目众筹失败；如项目众筹金额等于或大于预定众筹金额，则项目众筹成功。<br/>
            2、你不应抄袭、盗用他人的成果发起众筹项目，创意类产品必须为原创。<br/>
            3、您发起的项目不得包含非法、色情、淫秽、暴力等内容，不得含有攻击性、侮辱性言论，不得含有违反国家法律法规、政策的内容及其他火箭网认为不适宜的内容。<br/>
            4、您在火箭网发起的项目，不得在国内外同类众筹网站同时发起。<br/>
            5、您在火箭网上发起的项目不得涉及种族主义、宗教极端主义、恐怖主义等内容。<br/>
            6、您应对自己及您发起的项目进行介绍，内容包括“关于我”、“发起该项目的目的”、“项目的进展和风险”、“为什么以众筹的方式发起该项目”、“项目众筹成功后的回报”等。同时，您应向项目投资人充分说明项目存在的风险及挑战，以便于项目投资人对项目有全面充分的了解，从而独立慎重作出是否投资的决定。<br/>
            7、您发起的项目应内容完整、合理，具有可行性。<br/>
            8、您发起的项目不应与第三方存在任何权利纠纷，否则因此导致的一切损失（包括火箭网因此被第三方权利追索而遭受的一切损失）由您本人承担，与火箭网无关。<br/>
            9、在项目发起后的运行过程中，您应及时回复网友的提问，与项目投资人进行充分互动，促成项目众筹成功。<br/>
            10、项目发起后，您应及时更新项目进展情况，以包括但不限于以照片、视频、素描等方式展示项目的进度信息。</p>
        <h3 class="aboutus-article-head">五、项目回报</h3>
        <p>1、您在发起项目时，应明确项目众筹成功后的回报时间。<br/>
            2、您承诺，如项目众筹成功，及时兑现对项目投资人承诺的回报；如项目众筹失败，同意火箭网将众筹款项及时退还项目投资人，并由您就项目众筹失败的原因等对项目投资人作出解释。<br/>
            3、如您与项目投资人在兑现回报过程中发生纠纷，一切责任由您本人承担，如因此给火箭网造成经济或名誉损失，您应赔偿损失、恢复名誉。<br/>
            4、如您在兑现对项目投资人的回报过程中，与第三方（包括但不限于物流公司）发生纠纷，一切责任由您本人承担，与火箭网无关。</p>
        <h3 class="aboutus-article-head">六、协议终止</h3>
        <p>1、以下任一情形出现，本协议即终止<br/>
            （1）您发起的项目违反了国家法律法规、政策或火箭网的平台使用规则或本协议约定，火箭网停止为您提供服务的；<br/>
            （2）您本人不同意接受本协议约定（含火箭网发布的各类规则），并停止使用火箭网针对项目发起人提供的服务的；<br/>
            （3）您不符合本协议约定的项目发起人应具备的资格的；<br/>
            （4）其他原因导致本协议终止的。<br/>
            2、本协议终止后，不影响您因在本协议终止前的行为应承担的义务和责任。</p>
        <h3 class="aboutus-article-head">七、本协议的解释权归北京火箭科技有限公司所有。</h3>
