<!-- <div class="hiw-header"></div> -->

<div class="hiw-pom-block-12">
    <div class="hiw-pom-block-12-color-overlay">
        <div class="hiw-center-block">
          <h1 class="text-center">
              实现梦想，如此简单
          </h1>

          <div class="hiw-btn-block">
              <div class="hiw-btn btn">
                  <%= link_to("现在就开始", new_account_project_path) %>
              </div>
          </div>
          <img src='images/flow.png' alt="flow">
        </div>
    </div>
</div>

<!-- <div class="hiw-flow">
    <div class="col-md-10 col-md-offset-1 hiw-flow-img">

  <img src='images/flow.png' alt="flow">
    </div>
</div> -->

<div class="hiw-faq">
    <h2 class="text-center">常见问题</h2>

    <hr/>

    <div class="hiw-faq-block-container">
        <div class="row">

            <div class="hiw-faq-block">
                <h3>如何发起项目呢？</h3>
                <p>在网页上方点击“发起项目”，根据提示在网站上提交所需要的基本项目信息，以图文结合的形式 展示你的项目，完成后便可提交审核。
                </p>
                <h3>
                    手机号码注册时为什么收不到验证码？
                </h3>
                <p>1、请确认您的手机是否对此类系统短信进行拦截设置，需解除设置；
                    <br>2、曾向运营商投诉，拒收此类短信，可联系我们查询原因。</p>
            </div>

            <div class="hiw-faq-block">
                <h3>
                    你们的网站跟其它的众筹网站有什么不同？
                </h3>
                <p>在网页上方点击“发起项目”，根据提示在网站上提交所需要的基本项目信息，以图文结合的形式 展示你的项目，完成后便可提交审核。
                </p>

                <h3>
                    我为什么要选择你们的网站来发布众筹吗？
                </h3>
                <p>如果为手机注册用户，您可以打开火箭网app，点击右下角“我的”，进入“个人中心”，点击头像，进入“个人资料”， 选择“手机”，按提示输入当前绑定的手机号，通过验证后，根据提示输入新绑定的手机号，并输入获取的验证码，验证通过后， 即为更换成功。新绑定的手机号码必须为未注册过火箭网的手机号码。 邮箱注册的用户暂时无法更换注册账号。</p>
                <h3>
                    发布一个项目我需要准备什么资料？
                </h3>
                <p>在成为众筹注册用户后，在网页上方点击“发起众筹”，根据提示将页面中的“基本信息”、“项目信息”、“项目详情”、“回报设置”四个板块填写完整后，生成“发布”标签，仔细阅读《火箭网合作协议》并确认后，便可提交审核。
                </p>
            </div>

            <div class="hiw-faq-block">
                <h3>
                    我拿到众筹款项之后，你们会进行项目监督我是否专款专用吗？
                </h3>
                <p>
                    火箭网目前支持科技、公益、出版、娱乐、艺术、农业、商铺、房产八个行业的项目，具体标准请参考《项目发起规范》，如果您发起的项目不属于上述行业，可在发起时选择“其他”行业。
                </p>
                <h3>
                    发布一个众筹项目有时间周期限制吗？
                </h3>
                <p>
                    建议回报为项目的衍生品，与项目内容有关的回报更能吸引到大家的支持。建议设置3个以上的梯度回报，例如：几十、几百、几千元。多些选择能提高项目的支持率，能让你的项目更快成功。项目内容及回报均不得涉及现金、利润分红、股权、金融理财产品等相关内容。
                </p>
                <h3>
                    有众筹成功或者失败的说法吗？（如果有，众筹失败后我会不会一分钱都拿不到？）
                </h3>
                <p>
                    项目上线后，建议您积极自主推广项目，带动项目筹资额，并及时回复项目下的用户评论，与关注该项目的用户进行良好互动。同时，不要打扰其他项目的正常展示，请勿在其他项目下推广自己的项目。
                </p>
                <h3>
                    我不需要众筹款项，但我需要很多人现身来支持我的项目（比如我想拍摄1万张笑脸），这样可以吗？

                </h3>
                <p>
                    火箭网在发起人发布的项目上线后，有权保留发起人项目展示页面相关信息，包括但不限于发起人信息、项目介绍与说明、筹资金额、回馈标准、项目筹资情况（包括项目筹资成功或失败）等相关页面内容
                </p>
                <h3>
                    对众筹发布者的身份资历、资格认证有什么要求？
                </h3>
                <p>
                    在您收到回报后，请登录火箭网，在“我的订单”中点击“确认收货”，若15天您仍未点击确认，系统会将该订单转为“已收货”状态。
                </p>
            </div>
        </div>
    </div>
</div>

<div class="hiw-fees">
    <div class="hiw-fees-box">
        <div class="hiw-fees-header">
            便捷 合理 安全
        </div>
        <div class="hiw-fees-blocks">
        <li class="hiw-fees-container left">

            <div class="hiw-fees-platform">
                <span id="free">10%</span>
                &nbsp;第1个月免费
            </div>

            <p style="margin-top: 10px;">
                平台服务费
            </p>
        </li>
        <li class="hiw-fees-container right">
            <div class="hiw-fees-payment">
                支持微信和支付宝
            </div>
        </li>
    </div>
    <p>
        * 提现成功后会收取当时提现总金额的3%的手续费，我们会在3个工作日对发起人提交的提现申请进行审核并且打款。
    </p>

</div>

</div>
