<div class="hiw-header">
    <div>
        <h1 class="text-center">
            实现梦想，如此简单
        </h1>

    </div>

    <div class="hiw-header-button">
        <font color="#ffffff"><%= link_to("现在就开始", new_account_project_path) %></font>
    </div>
</div>

<div class="hiw-flow">
    <div class="col-md-10 col-md-offset-1 hiw-flow-img">

        <img src='images/flow.png' alt="flow">

    </div>
</div>

<div class="hiw-faq">
    <h3 class="text-center">常见问题</h3>

    <hr />

    <div class="hiw-faq-block-container">
        <div class="row">

            <div class="hiw-faq-block">
                <h2>如何发起项目呢？</h2>
                <p>在网页上方点击“发起项目”，根据提示在网站上提交所需要的基本项目信息，以图文结合的形式 展示你的项目，完成后便可提交审核。
                </p>
                <h2>
                    手机号码注册时为什么收不到验证码？
                </h2>
                <p>1、请确认您的手机是否对此类系统短信进行拦截设置，需解除设置；
                    <br>2、曾向运营商投诉，拒收此类短信，可联系我们查询原因。</p>
            </div>

            <div class="hiw-faq-block">
                <h2>
                    你们的网站跟其它的众筹网站有什么不同？
                </h2>
                <p></p>

                <h2>
                    我为什么要选择你们的网站来发布众筹吗？
                </h2>
                <p></p>
                <h2>
                    发布一个项目我需要准备什么资料？
                </h2>
                <p></p>
            </div>

            <div class="hiw-faq-block">
                <h2>
                    我拿到众筹款项之后，你们会进行项目监督我是否专款专用吗？
                </h2>
                <h2>
                    发布一个众筹项目有时间周期限制吗？

                </h2>
                <h2>
                    有众筹成功或者失败的说法吗？（如果有，众筹失败后我会不会一分钱都拿不到？）
                </h2>

                <h2>
                    我不需要众筹款项，但我需要很多人现身来支持我的项目（比如我想拍摄1万张笑脸），这样可以吗？

                </h2>
                <h2>
                    对众筹发布者的身份资历、资格认证有什么要求？
                </h2>
            </div>
        </div>
    </div>
</div>

<div class="hiw-fees">
    <div class="hiw-fees-header">
        便捷 合理 安全
    </div>
        <div class="hiw-fees-blocks">
            <li class="hiw-fees-container left">

                <div class="hiw-fees-platform"><span id="free">10%</span>
                  &nbsp;第1个月免费</div>

                <p style="margin-top: 10px;">
                    平台服务费
                </p>
            </li>
            <li class="hiw-fees-container right">
                <div class="hiw-fees-payment">
                    支持微信和支付宝
                </div>
            </li>
        </div>

    <br>
    <div>
        * 提现成功后会收取当时提现总金额的3%的手续费，我们会在3个工作日对发起人提交的提现申请进行审核并且打款。

    </div>
</div>
