<style>
  img {
    width: 960px;
    height: 500px;
  }
</style>
<h1>landing page</h1>
<div class="row text-center">
  <div class="col-md-12 col-lg-12">
  <%= image_tag(@project.image.large) %>

  </div>
</div>
