<div class="row">
    <div class="col-md-12 com-md-offset-0 lp-title-bg lp-container">
      <div  class="lp-slogan">
        <div>
          <h2>
            下一个火箭项目的助跑平台
          </h2>
      </div>
      <div>
      <p>
          万种筹资，助推才华青年最后一把，催成下一个世界级人才
      </p>
    </div>
    </div>
      <div class="lp-title-btn">
        <%= link_to("立刻行动", new_account_project_path) %>
      </div>
  </div>
</div>

<div class="row">
  <div class=" lp-container">
  <div class="col-md-12 col-md-offset4-0 lp-feature-head">
    <div>
      <div>
        <h3>让最懂你的人，助你成就梦想的最后一里路！</h3>
    </div>
    <div>
      <p>我们致力成为人才界的 KickStarter / Indiegogo，资助下一个脑力项目、文艺作品、开源项目背后的大神、文豪，摆脱现实最后一套金钱枷锁，专注投入伟大项目的拓荒与腾飞。</p>
    </div>
  </div>
  </div>
  <div class="col-md-4 col-md-offset-0">
    <div class="lp-feature-detail">
    <div >
      <img   src='images/feature-1.jpg' alt="fetrue1">
    </div>
      <div>
      <h4>无后顾之忧，全职专心投入创作</h4>
    </div>
      <div >
      <p >以全职薪金方式，保你心无旁骛投入项目创作. 不再担心自己的创意会被外行人指点限制，尽情挥洒自己的热血与激情。</p>
    </div>
  </div>
  </div>
  <div class="col-md-4 col-md-offset-0">
    <div class="lp-feature-detail">
    <div>
      <img   src='images/feature-2.jpg' alt="fetrue1">
    </div>
    <div>
      <h4>急速缩短现实与梦想间的差距</h4>
      <p>梦想与现实总是有差距。许多激动人心的专案，总是业余专案、或需要储蓄大把启动资金才能启动。在这里，我们助推你最后一把。提早将火箭升空。</p>
    </div>
  </div>
  </div>
  <div class="col-md-4 col-md-offset-0">
    <div class="lp-feature-detail">
    <div>
      <img   src='images/feature-3.jpg' alt="fetrue1">
    </div>
  <div>
      <h4>最理解也最支持你的小众天使</h4>
      <p>这里的投资人，是最懂你的同好粉丝。无须再按下脾气跟外行傻逼，解释他们八百辈子都不会懂的专业远见。你可以从这群支持者得到最真诚的反馈、支持与助推。</p>
  </div>
  </div>
  </div>
 </div>
</div>
<div class="row">
  <div class="col-md-6 col-md-offset-0 lp-user">
    <div >
      <img  src='images/u1.jpg' class="img-circle" alt="fetrue1">
    </div>
    <div>
      <p>
        <span>
          <a href="http://blog.xdite.net/"  class="lp-user link" target="_blank">@xdite</a>
        </span>
        <br />
        <span  class="lp-user title">知名 Ruby on Rails 大神级教练</span>
      </p>
      <p>感谢 @李笑来 的初期支持。让我可以全职投入改变编程教学的下一波革命。</p>
    </div>
  </div>
  <div class="col-md-6 col-md-offset-0 lp-user">
    <div >
      <img   src='images/u2.jpg'  class="img-circle"  alt="fetrue1">
    </div>
    <div>
      <p>
        <span>
          <a href="http://weibo.com/arttechdesign/"  target="_blank">@尤小右</a>
        </span>
        <br />
        <span  class="lp-user title">VueJS创造者</span>
      </p>
      <p>感谢 @郭达峰 (Strikingly) 和 @李笑来 的每月支持。让我可以全职投入 VueJS 开发。</p>
    </div>
  </div>
</div>
