<div class="row">
    <div class="col-md-12 com-md-offset-0 lp-title-bg">
      <div calss="frosted-glass"></div>
      <div>
      <h1 class="lp-title-h1">
        下一个火箭项目的助跑平台
      </h1>
    </div>
    <div>
      <h2  class="lp-title-h2">
          万种筹资，助推才华青年最后一把，催成下一个世界级人才
      </h2>
    </div>
      <div class="lp-title-btn">
        <%= link_to("立刻行动", new_account_project_path, class: :"btn btn-success btn-lg") %>
      </div>
  </div>
</div>
