<div class="order-new-body">
  <div class="from">
   <%= simple_form_for [:plan, @order] do |f|%>
    <div class="form-group">
      <%= f.input :backer_name, input_html:{class: "form-control"}, label: "赞助者姓名", placeholder: "请填写您的姓名" %>
      <%= f.input :price, input_html: {class: "form-control", :readonly => true, value: @order.price }, label: "赞助金额", placeholder: "请填写价格"%>
      <%#= f.input :quantity, input_html: {class: "form-control", :readonly => true, value: @order.quantity }, label: "赞助数量", placeholder: "请填写数量" %>
      <%= f.submit "提交", class: "btn btn-primary", data: {disable_with: "Submitting.."} %>
    </div>
  <% end %>
  </div>
</div>
