<div class="index-out">
  <div class="index-banner">
    <div class="hero-title">
      <h1>无后顾之忧，全职专心投入创作</h1>
      <p>我们致力成为人才界的 KickStarter / Indiegogo，资助下一个脑力项目、文艺作品、开源项目背后的大神、文豪，
        <br />摆脱现实最后一套金钱枷锁，专注投入伟大项目的拓荒与腾飞。</p>
    </div>
  </div>
  <div class="container">
  			<div class="tabbable-panel">
  				<div class="tabbable-line">
  					<ul class="nav nav-tabs ">
  						<li class="active">
  							<a href="#tab_default_1" data-toggle="tab">
  							最新项目</a>
  						</li>
  						<li>
  							<a href="#tab_default_2" data-toggle="tab">
  							往期项目</a>
  						</li>
  					</ul>
            <!-- <hr /> -->
  					<div class="tab-content">
  						<div class="tab-pane active" id="tab_default_1">
                <%= render "online_projects" %>
  						</div>
  						<div class="tab-pane" id="tab_default_2">
                <%= render "history_projects" %>
  						</div>
  					</div>
  				</div>
  	</div>
  </div>
</div>
