<div class="row">
  <div class="col-sm-6 col-sm-offset-3 error-block">
    <h1><i class="fa fa-smile-o"></i>呀，被你发现了～</h1>
    <hr />
    <h2>错误404: 页面不存在</h2>
    <p class="pull-right">
      <a href="mailto:talentrocket@163.com?subject=我有问题反馈：">反馈问题</a>｜
      <%= link_to '返回上页', :back %>
    </p>
  </div>
</div>
