.user-menu-li{
  padding: 10px;
  max-width: 150px;
  // background-color: #fafafa;
}

.user-name-input-witdth{
  width: 200px;
}

.user-weibo-input-witdth{
  width: 300px;
}

.user-info-input-witdth{
  rows: 4 !important;
  width: 300px;
}

.arrow-downward{
  margin-right: 10px;
}
