// Place all the styles related to the errors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.error-block{
  background-color: #fff;
  margin: 20px;
  padding-top: 100px;
  width: 500px;
  height: 300px;
  i{
    font-size:1.2em;
    padding-right: 5px;
    color: #3499E0;
  }
  h1{
    font-size: 1.5em;
  }
  h2{
    font-size: 1.2em;
  }
  p{
    margin-top: 20px;
  }
}
