.hiw-header {
    margin-bottom: 50px;
    padding-top: 30px;
    // background: #FBFBFB;
    h1 {
        color: #333333;
        // background-color: #FBFBFB;
        margin-bottom: 40px;
        font-size: 5em;
        // font-weight: bold;
    }
}
.hiw-btn-block {
    text-align: center;
    margin: auto;
    .hiw-btn {
        background: #43CB83;
        color: #FFF;
        font-size: 1.5em;
        text-align: center;
        padding: 15px 20px;
        // margin: 20px 40% 60px;
        margin: auto;
        width: 180px;
        a:link {
            color: #fff;
        };
        a:visited {
            color: #fff;
        };
        a:hover {
            color: #FFFFFF;
        };
        a:active {
            color: #FFFFFF;
        };
    }
}
.hiw-flow {
    // min-width: 1200px;
    background: #f3f3f3;
    font-family: "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    // overflow: hidden;
    height: 450px;
    img {
        padding: 50px;
        width: 800px;
        height: auto;
        vertical-align: middle;
    }
}
.hiw-faq {
    margin-top: 100px;
    clear: left;
    background: #FBFBFB;
    padding: 80px 50px 40px;
}
.hiw-faq-block-container {
    display: flex;
    justify-content: space-around;
    max-width: 1300px;
    margin: 0 auto;
}
.hiw-faq-block {
    // width: 50%;
    margin-bottom: 40px;
}
.hiw-faq-block h3 {
    font-family: "Microsoft YaHei", "Helvetica Neue", "Benton Sans","Helvetica","sans-serif";
    font-size: 20px;
    font-weight: bold;
    line-height: 1.8em;
    letter-spacing: 0;
    // display: block;
}
.hiw-faq-block p {
    font-family: "Benton Sans","Helvetica","sans-serif";
    font-size: 16px;
    font-weight: normal;
    line-height: 26px;
}
.hiw-fees {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #248D6C;
    // background-origin: padding-box;
    background-size: auto;
    box-sizing: border-box;
    color: #fff;
    font-family: "Microsoft YaHei", "Helvetica Neue", "Benton Sans","Helvetica","sans-serif";
    font-size: 14px;
    height: 400px;
    line-height: 20px;
    padding: 50px 0;
    margin-bottom: -10px;
}
.hiw-fees-box {
    text-align: center;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    p {
        line-height: 18px;
        margin-top: 20px;
    }
}
.hiw-fees-header {
    font-size: 25px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
}
.hiw-fees-blocks {
    display: flex;
    flex-direction: row;
    // margin: 0 auto;
    margin-left: 360px;
    margin-right: auto;
}
.hiw-fees-container {
    border: 1px solid;
    box-sizing: border-box;
    // display: inline-block;
    list-style-type: none;
    height: 95px;
    text-align: left;
    padding-left: 20px;
    min-width: 240px;
    p {
        margin-top: 20px;
    }
}
.hiw-fees-platform {
    text-decoration: none;
    font-size: 20px;
    font-weight: normal;
    // line-height: 38px;
    margin-left: 20px;
    margin-top: 20px;
    color: #EC2970;
}
#free {
    text-decoration: line-through;
    font-size: 20px;
    color: white;
}
.hiw-fees-payment {
    margin-top: 40px;
    font-size: 20px;
}
