.hiw-header {
    margin-bottom: 50px;
    padding-top: 30px;
    // background: #FBFBFB;

h1 {
    color: #333333;
    // background-color: #FBFBFB;
    margin-bottom: 40px;
    font-size: 5em;
    // font-weight: bold;
}
}
.hiw-header-button {
    font-family: "Microsoft YaHei","Helvetica","sans-serif";
    font-size: 20px;
    font-weight: bold;
    line-height: 26px;
    letter-spacing: 0;
    height: 50px;
    width: 160px;
    margin: 0 auto;
    display: block;
    text-align: center;
    background-color: #43CB83;
    border-color: #fa1681;
    color: #ffffff;
    letter-spacing: 0.1em;
    margin-top: 25px;
    padding: 10px;
    a:link {
        color: #FFF;
    };
    a:visited {
        color: #FFF;
    };
    a:hover {
        color: #FBFBFB;
    };
    a:active {
        color: #FBFBFB;
    };
}
.hiw-flow {
    // min-width: 1200px;
    background: #f3f3f3;

    font-family: "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    // overflow: hidden;
    height: 450px;
    img {
        padding: 50px;
        width: 800px;
        height: auto;
        vertical-align: middle;
    }
}
.hiw-faq {
    margin-top: 100px;
    clear: left;
    background: #FBFBFB;
    padding: 80px 50px 40px;
}
.hiw-faq-block-container {
    display: flex;
    justify-content: space-around;
    max-width: 1300px;
    margin: 0 auto;
}
.hiw-faq-block {
    // width: 50%;
    margin-bottom: 40px;
}
.hiw-faq-block h3 {
    font-family: "Microsoft YaHei", "Helvetica Neue", "Benton Sans","Helvetica","sans-serif";
    font-size: 20px;
    font-weight: bold;
    line-height: 1.8em;
    letter-spacing: 0;
    // display: block;
}
.hiw-faq-block p {
    font-family: "Benton Sans","Helvetica","sans-serif";
    font-size: 16px;
    font-weight: normal;
    line-height: 26px;
}
.hiw-fees {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #238C6B;
    // background-origin: padding-box;
    background-size: auto;
    box-sizing: border-box;
    color: #fff;
    font-family: "Microsoft YaHei", "Helvetica Neue", "Benton Sans","Helvetica","sans-serif";
    font-size: 14px;
    height: 400px;
    line-height: 20px;
    padding: 50px 0;
    text-align: center;
    margin-bottom: -10px;
    width: 100%;
    .hiw-fees-header {
        font-size: 25px;
        margin-bottom: 60px;
    }
    .hiw-fees-desktop {
        font-size: 12px;
        font-weight: normal;
        line-height: 18px;
        color: #ddd;
    }

    .hiw-fees-container {
        border: 1px solid;
        box-sizing: border-box;
        // display: inline-block;
        list-style-type: none;
        height: 95px;
        text-align: left;
        padding-left: 20px;
        min-width: 240px;
        p {
            margin-top: 20px;
        }
    }
    .hiw-fees-platform {
        text-decoration: none;
        font-size: 20px;
        font-weight: normal;
        // line-height: 38px;
        margin-left: 20px;
        margin-top: 20px;
        color: red;
    }
    #free {
        text-decoration: line-through;
        font-size: 20px;
        color: white;
    }
    .hiw-fees-payment {
        margin-top: 40px;
        font-size: 20px;
    }
}

.hiw-fees-blocks {
    width: 600px;
    display: flex;
    flex-direction: row;
    // margin: 0 auto;
    margin-left: auto;
    margin-right: auto;
}
