html {
  min-height: 100%;
  position: relative;
}

body {
  padding-top: 60px;
  padding-bottom: 10px;
  margin-bottom: 100px;
  background: #f4f4f4;
  // font-family: arial, sans-serif;
  line-height: 1.8em;
  letter-spacing: 0.1em;
  color: #333333;
  font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,STHeitiSC-Light,Microsoft YaHei,\\5FAE\8F6F\96C5\9ED1,Arial,sans-serif;
}
  // font-size: 14px;

a:active,
a:hover {
  text-decoration: none;
}

hr{
  border: 0;
  height: 0;
  margin: 0;
  border-bottom: 1px solid #CCCCCC;
}

.container {
  padding: 0;
}

.notice-ring{
  margin-top:5px;
}

// config navbar

.navbar{
  height: 60px;
  max-height: 60px;
  margin-bottom: 0px;
  letter-spacing: 0.05em;
}

.navbar-default {
  background-color: rgba(255, 255, 255, 0.96);
  border-color: #CCCCCC;
}

.navbar-default .navbar-brand {
    color: #666666;
    float: left;
    padding: 18px 25px;
    font-size: 18px;
    line-height: 20px;
    height: 60px;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #666666;
}

.navbar-default .navbar-nav > li > a{
  color: #666666;
}

.dropdown-menu {
  background-color: rgba(255, 255, 255, 0.9);
}

.dropdown-menu > li > a {
  color: #666666;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
    color: #888888;
    border-bottom: 1px solid #CCCCCC;
}


// config navbar end

#footer {
  background: #323232;
  color: #ffffff;
  bottom: 0;
  height: 100px;
  position: absolute;
  width: 100%;
  margin-top: 20px;
  padding-top: 20px;
  a:link {color: #CCCCCC};
  a:visited {color: #CCCCCC}	;
  a:hover {color: #FFFFFF}	;
  a:active {color: #FFFFFF};
}

.def-footer{
  position:relative;
  .help-link{
    float:left;
    margin:0 40px;
    li{
    padding:0 10px;
    }
  }

  .copyright-info{
    float:left;
    margin:0 40px;
  }
}


.formatted_content {
  background-color: #ffffff;
  min-height: 200px;
  // width: 600px;
  margin-bottom: 10px;
}

.nav-search {
  margin-top: 4px;
}

.progress-bar {
  max-width: 100%;
}
