html {
  min-height: 100%;
  position: relative;
}

body {
  padding-top: 60px;
  padding-bottom: 10px;
  margin-bottom: 100px;
  // background-image: url(images/Body_bg.png);
  background: #F5F4F9;
}

#footer {
  background: rgba(51, 51, 51, 51);
  color: #A0A1A2;
  bottom: 0;
  height: 100px;
  position: absolute;
  width: 100%;
  margin-top: 20px;
  padding-top: 20px;
  a:link {text-decoration: none; color: #A0A1A2};
  a:visited {text-decoration: none; color: #A0A1A2}	;
  a:hover {text-decoration: none; color: #FFFFFF}	;
  a:active {text-decoration: none; color: #FFFFFF};
}

.searchbar {
  margin-bottom: 10px
}

.formatted_content {
  background-color: #fff;
  min-height: 200px;
  width: 600px;
  margin-bottom: 10px;
}

.logo_icon{
  color: #4A92B7;
}

.searchbar {
  margin-bottom: 10px
}

.progress-bar {
  max-width: 100%;
}
