html {
  min-height: 100%;
  position: relative;
}

body {
  padding-top: 70px;
  padding-bottom: 10px;
  margin-bottom: 100px;
}

.footer {
  background: rgba(0, 0, 0, 0.35);
  bottom: 0;
  height: 100px;
  position: absolute;
  width: 100%;
  padding-top: 10px;
}

.searchbar {
  margin-bottom: 10px
}

.formatted_content {
  min-height: 200px
}
