// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.projects{
 // font-family: 'Microsoft Yahei';
}

.content{
  background-color: #fff;
  font-family: tahoma;
  margin: 0 0 30px 0;
  border: 1px solid #e8eced;
  overflow: hidden;
}

.content .project-card {
  float: right;
  position: relative;
}

.content .project-text{
  font-size: 14px;
  text-align: left;
  padding: 5px 30px 11px 45px;
  line-height: 28px;

}

.content .image{
 padding: 19px 0;
 text-align: center;
}

.reserve-btn {
    margin-top: 25px;
    border-radius: 3px;
    width: 278px;
    height: 40px;
    line-height: 38px;
    font-weight: 700;
    color: #fff;
    font-size: 17px;
    text-align: center;
    display: inline-block;
    background-color: #41ccb4;
    margin-bottom: 30px;
}


.reserve-sm-btn {
      border-radius: 3px;
      width: 135px;
      height: 40px;
      line-height: 38px;
      font-weight: 700;
      color: #fff;
      font-size: 17px;
      display: inline-block;
      background-color: #41ccb4;
      margin: 20px 0 30px 45px;
}

.reserve-btn:hover{
  color: white;
 text-decoration: none;
}

.reserve-sm-btn:hover {
   color: white;
   text-decoration: none;
}

.project h1{
  font-size: 24px;
  text-align: left;
  padding: 0 10px 10px 45px;
  line-height: 28px;
}

.content h2{
  text-align: left;
  font-size: 24px;
  padding: 19px 50px 11px 50px;
  line-height: 28px;
}

.content hr{
  margin: 40px 0 0 0;
}

.text{
  font-size: 14px;
  text-align: left;
  padding: 5px 100px 31px 100px;
  line-height: 28px;
}

.text .post-date{
  font-size: 10px;
  color: #a5a5a5
}

.index-show{
  background-color: #fff;
  // margin: 5px;
  padding: 5px;
}

#edit-input-long-width{
  width: 600px;
}

.edit-input-short-width{
  width: 200px !important;
}


.project-circle {
  color: green
}
