// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.lp-title-bg{
  background: url(images/lp-title-bg.jpg) no-repeat center top;
  background-repeat: no-repeat;
  // background-attachment: fixed;
  overflow: hidden;
  background-size:cover;
  position: absolute;
}

.lp-slogan h2{
  color: #fff;
  font-size: 5em;
  text-align: center;
  margin: 200px 0 50px;
  // -webkit-text-stroke: 1px #babec9;
}

.lp-slogan p{
  color: #fff;
  font-size: 2em;
  text-align: center;
  margin: 50px 0 100px;
}

.lp-title-btn{
  background: rgba(0, 0, 0, 0.35);
  color: #FFF;
  font-size: 2.5em;
  text-align: center;
  // margin: 0 auto;
  padding: 8px ;
  margin: 0 40% 60px;
  width: 20%;
  a:link {text-decoration: none; color: #FFF};
  a:visited {text-decoration: none; color: #FFF}	;
  a:hover {text-decoration: none; color: #e9e9e9}	;
  a:active {text-decoration: none; color: #e9e9e9};
}

.lp-feature{
  background: #FFF;
}

.lp-feature-head h3{
  color: #393939;
  font-size: 3em;
  text-align: center;
  margin: 60px 0 32px;
}

.lp-feature-head p{
  color: #393939;
  font-size: 1.2em;
  text-align: center;
  margin: 32px 15%;
  width: 70%;
}

.lp-feature-detail{
  width:100%;
  margin:10px;
  padding:0 10px;
}

.lp-feature-detail img{
  position: relative;
  padding: 10px;
  margin: 0 15%;
}

.lp-feature-detail h4{
  text-align: center;
  font-size: 1.5em;
  margin: 25px 0 20px;
}

.lp-feature-detail p{
  font-size: 1em;
  margin: 20px 0 50px;
}

//rabecca
.lp-container {
  // min-width: 1200px;
  height: 600px;
  // background-color: #fff;
}

.lp-container-flex {
    max-width: 1080px;
    margin-right: auto;
    margin-left: auto;
  //  background-color: #888888;
}

.lp-container-col{
  width: 320px;
  position: relative;
  float:left;
  margin: 20px;
  padding: 0 20px;
  background-color: #fff;
  height: 440px;
  border: solid 2px #F1EEEA;
  border-radius: 6px;
}
//rabecca

.lp-user{
  // background: rgba(0, 0, 0, 0.35);
  width:40%;
  margin:auto;
  padding:auto;
}

.lp-user img{
  width: 100px;
  float:left;
  margin: 20px;
}

.lp-user.title{
font-weight: bold;
}

.lp-user p{
  // width: 100px;
  // float:left;
  margin: 5px;
}

.lp-user.link{
  a:link {text-decoration: none; color: #e9e9e9};
  a:visited {text-decoration: none; color: #e9e9e9}	;
  a:hover {text-decoration: none; color: #e9e9e9}	;
  a:active {text-decoration: none; color: #e9e9e9};
}
