// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.lp-title-bg{
  // background-image: url(images/lp-title.jpg);
  background: url(images/lp-title-bg.jpg) no-repeat center top;
  background-repeat: no-repeat;
  // background-attachment: fixed;
  overflow: hidden;
  background-size:cover;
  position: absolute;
  // padding:300px 0;
}

.lp-title-h1{
  color: #fff;
  font-size: 5em;
  text-align: center;
  margin: 200px 0 100px;
  // -webkit-text-stroke: 1px #babec9;/*描边的像素，也就是粗细，这里指定是2像素的黑色边框*/
}

.lp-title-h2{
  color: #fff;
  font-size: 2em;
  text-align: center;
  margin: 100px 0;
  // -webkit-text-stroke: 1px #babec9;/*描边的像素，也就是粗细，这里指定是2像素的黑色边框*/

}

#lp-title-btn{
  // background: rgba(0, 0, 0, 0.35);
  color: #FFF;
  font-size: 2.5em;
  text-align: center;
  // margin: 0 auto;
  padding: 0 0 67px 0;
  a:link {text-decoration: none; color: #FFF};
  a:visited {text-decoration: none; color: #FFF}	;
  a:hover {text-decoration: none; color: #98a1a4}	;
  a:active {text-decoration: none; color: #98a1a4};
}
