<div class="plans-head">
  <div>
    <h1>支持<span><%= @user.user_name %></span>的项目</h1>
  </div>
  <div>
    <p><%= link_to(@project.name,project_path(@project)) %></p>
  </div>
</div>
<div> </div>

<div class="plans-body">
  <!-- <div>请选择你要支持的方案</div> -->
  <% @plans.each do |plan| %>
  <div class="plans-des">
    <%= plan.description %>

  </div>
  <% end %>
  <div class="plans-info">
    当前进度
  </div>
</div>
