
<h1>支持方案详情</h1>

<h3>请选择您要支持的方案：</h3>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-5 col-md-8-offset-1">
    <div class="pull-right">
      <% @plans.each do |plan| %>
      <div class="col-xs-12 col-sm-4 col-md-8-offset-4">
        <p>
          <%= plan.title %>
        </p>
        <p>
          <%= plan.description %>
        </p>
        <p>
          <%= link_to("支持项目", new_account_order_path(:plan_id => plan.id), :class => "btn btn-success" ) %>
        </p>
      </div>
      <% end %>
    </div>
  </div>
</div>
</div>
