<h1>支持方案详情</h1>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-5 col-md-8-offset-1">
    <div class="pull-right">
      <%# @projects.each do |project| %>
      <div class="col-xs-12 col-sm-4 col-md-8-offset-4">
          <h4><%#= projdct.title %></h4>
          <p><%#= projdct.description %></p>
          <p><%#= projdct.plan %></p>

      </div>
      <%# end %>
        <%= link_to("支持TA", "#", :method => :post, :class => "btn btn-success" ) %>
    </div>
  </div>
</div>
</div>
