<h1>支持方案详情</h1>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-5 col-md-8-offset-1">
    <div class="pull-right">
      <% @projects.each do |project| %>
      <div class="col-xs-12 col-sm-4 col-md-8-offset-4">
          <h4><%= project.name %></h4>
          <p><%= project.description %></p>
          请选择您要支持的方案：
          <p><%= project.plan %></p>
      </div>
      <% end %>
      <h4>请扫下面的二维码进行付款</h4>
        <div>
    </div>
  </div>
</div>
</div>
