<footer id="footer" class="col-md-12 col-md-offset-0">
  <div class="def-footer">
  <div class="help-link">
    <ul class="list-inline">
      <li>
        <%= link_to("关于我们", about_us_path )%>
      </li>
  <li>
    <a href="mailto:support@rocket.com?subject=我有问题咨询：">联系我们</a>
  </li>
  <li>
    <%= link_to("隐私政策", "#")%>
  </li>
  <li>
    <%= link_to("帮助中心", how_it_works_path)%>
  </li>
</ul>
</div>
  <div class="copyright-info">
    <span>&copy2016 Rocket, Inc. All Rights Reserved</span>
  </div>
</div>
  <script type='text/javascript'>
    (function(m, ei, q, i, a, j, s) {
        m[i] = m[i] || function() {
            (m[i].a = m[i].a || []).push(arguments)
        };
        j = ei.createElement(q),
            s = ei.getElementsByTagName(q)[0];
        j.async = true;
        j.charset = 'UTF-8';
        j.src = '//static.meiqia.com/dist/meiqia.js';
        s.parentNode.insertBefore(j, s);
    })(window, document, 'script', '_MEIQIA');
    _MEIQIA('entId', 30487);
</script>
</footer>
