<footer id="footer" class="col-md-12 col-md-offset-0">
  <div class="col-md-1 col-md-offset-1">
      <%= link_to("关于我们", "#")%>
  </div>
  <div class="col-md-1">
    <a href="mailto:support@rocket.com?subject=我有问题咨询：">联系我们</a>
  </div>
  <div class="col-md-1">
    <%= link_to("隐私政策", "#")%>
  </div>
  <div class="col-md-1">
    <%= link_to("帮助中心", "#")%>
  </div>
  <div class="col-md-5 col-md-offset-2">
    &copy2016 Rocket, Inc. All Rights Reserved
  </div>
</footer>
