<footer id="footer" class="col-md-12 col-md-offset-0">
  <div class="col-md-1 col-md-offset-1">
    <div><a href="#">关于我们</a></div>
  </div>
  <div class="col-md-1">
    <div><a href="#">联系我们</a></div>
  </div>
  <div class="col-md-1">
    <div><a href="#">工作机会</a></div>
  </div>
  <div class="col-md-1">
    <div><a href="#">常见问题</a></div>
  </div>
  <div class="col-md-5 col-md-offset-2">
    &copy2016 Rocket, Inc. All Rights Reserved
  </div>
</footer>
